            html {
                height: 100%;
            }

            body {
                margin: 0;
                font-family: "Conv_maptu", "Open Sans Condensed", Helvetica, Arial, sans-serif;
                height: 100%;
                background-color: #080302;
                color: #d8cbbd;
            }

            #header {
                background-color: #080302;
                color: #d8cbbd;
                padding: 10px 50px;
                opacity: 0.7;
                /*                position: fixed;*/
                /*                position: sticky;*/
            }

            #header > nav > div.col-md-10.mainmenu > a {
                float: right;
                font-size: 18px;
                letter-spacing: 1px;
                color: #d8cbbd;


                /*                margin-right: -20px;*/
            }

            #header nav a {
                display: inline-block;
                padding: 10px 20px;
                font-size: 16px;
                color: black;
                text-decoration: none;
            }

            img.logosmall {
                width: 45px;
                height: auto;
                margin-top: 5px;
            }

            #footer {
                /*                background-color: #46494F;*/
                /*                color: #000;*/
                padding: 25px 50px;
                font-size: 14px;
                text-align: center;
            }



            section.image {
                height: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-attachment: fixed;
                position: relative;
            }

            div.title {
                position: absolute;
                right: 3vh;
                top: 19vh;
            }

            div.title > h1 {
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                width: 40vw;
                height: 10vh;
                padding-left: 3vw;
                padding-top: 1vh;
            }

            div.title > p {
                padding-left: 40vh;

            }

            section.text {
                max-width: 60vw;
                padding: 20px;
                position: relative;
                height: auto;
                padding-top: 10vh;
                padding-bottom: 10vh;
            }

            section.text .icon {
                position: absolute;
                left: 0;
                top: 0;
                right: 50%;
                bottom: 0;
            }

            section.text.left .icon {
                right: 0;
                left: 50%;
            }

            h2 {
                padding-bottom: 3vh;
            }



            section.text .icon .fa {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 200px;
            }

            section.text .content {
                margin-left: 50%;
                /*                opacity: 0.7;*/
            }

            section.text.left .content {
                margin-left: 0;
                margin-right: 50%;
            }

            div.icon > img {
                width: 20vw;
                height: auto;
            }



            section.text h2 {
                font-size: 36px;
                font-weight: normal;
            }

            div.play {
                width: 30px;
                height: 30px;
                background-image: url(../img/play.png);
                background-position: top;
                margin-bottom: 1vh;
            }

div.playing {
    background-position: bottom; }
}

